@import "../common/colors";

.contentDiv {
  position: relative;
  width: 100%;
  height: 100vh;


}

.content {
  position: relative;
  width: 1300px;
  margin: auto;
  height: auto;
  //border: 1px solid white;
}

.cardList {
  top: 2px;
  left: 10px;
  width: 100%;
  margin: auto;
  position: relative;
  transition: all ease 1.5s;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-row-gap: 10px;
}

.card {
  position: relative;
  width: 200px;
  height: 350px;
  border: 2px solid #e4e4e450;
  box-shadow: 0 2px 5px #a3a3a3;
  transition: 1.5s;

}
.cardPart{
  position: relative;
  height: 100vh;
}
.title {
  color:$font-primary ;
  margin-top: 40px;
}

.poster {
  position: absolute;
  margin-left: 525px;
  border: 2px solid #e4e4e450;
  box-shadow: 0 2px 5px #a3a3a3;
  transition: 1.5s;
  width: 533px;
  height: 500px;
  margin-top: -360px;

  &
  img {
    width: 100%;
    height: 100%;
  }

  &
  a {
    color: $font-primary;
    text-decoration: none;
  }
}

